altgraph==0.17.4
blinker==1.9.0
chardet==5.2.0
click==8.1.8
colorama==0.4.6
Flask==3.1.0
fpdf==1.7.2
gunicorn==23.0.0
itsdangerous==2.2.0
Jinja2==3.1.5
MarkupSafe==3.0.2
numpy==2.2.2
opencv-python==4.11.0.86
packaging==24.2
pdfkit==1.0.0
pefile==2023.2.7
pillow==11.1.0
pyinstaller==6.11.1
pyinstaller-hooks-contrib==2025.1
pytesseract==0.3.13
pywin32-ctypes==0.2.3
reportlab==4.2.5
Werkzeug==3.1.3
